<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="images/icons/logo.ico">
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>

    <ul class="listado">
        <% product.forEach(produc => { %>	
          <li class="listado-item">
             <a href="/uni-producto/<%= produc.id %>">
                <%= produc.nombre %> : <%= produc.descripcion %>
            </a>
          </li>
  
        <% }) %>
    </ul>
    
</body>
</html>