<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.nombre %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <%- include('../partials/nav') %>
    <h1><%= product.nombre %></h1>
    <h2>Descripción: <%= product.descripcion %></h2>
    <h2>Precio : <%= product.precio %></h2>
    <ul>
        <% Img.forEach(img => { %>
            <% if(img.productoId === product.id) {%>
                <li>
                    <img src="<%= img.foto %>" alt="">
                </li>
            <% } %>
        <% }) %>
    </ul>

    
    
</body>
</html>